/* CSS styles */
body {
    background-color: var(--tg-theme-bg-color);
}

h1 {
    text-align: center;
    color: var(--tg-theme-text-color);
}

p {
    text-align: center;
    color: var(--tg-theme-hint-color);
}
.button {
    text-align: center;
    margin: 0 30% 0 30%;
    align-self: center;
    text-decoration: none;
    border-radius: 15px;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
}
.button:active{
    opacity: 50%;
}
          